/CommonClassLibrary/bin
/CommonClassLibrary/*.user
/CommonClassLibrary/*
/CommonClassLibrary/*.csproj
/ConsoleApplication1/*.csproj
/CoursePlatForm/*.config
/CoursePlatForm/*.csproj
/CoursePlatForm/*.user
/Models/Service References
/Models/bin
/Models/obj
/Models/Properties
/Models/bin/Debug/Models.dll
/Models/bin/Debug/Models.dll.config
/Models/bin/Debug/Models.pdb
/Models/bin/Debug/EntityFramework.dll
/Models/bin/Debug/EntityFramework.SqlServer.dll
/Models/bin/Debug/EntityFramework.SqlServer.xml
Properties
obj
/CoursePlatForm.v11.suo
/CoursePlatForm.sln
/.gitignore
CommonClassLibrary
/CommonClassLibrary/CommonClassLibrary.csproj.user
ConsoleApplication1
/ConsoleApplication1/Tb_ApplyTable.cs
/ConsoleApplication1/Tb_City.cs
/ConsoleApplication1/Tb_CourseBaseInform.cs
/ConsoleApplication1/Tb_FieldTable.cs
/ConsoleApplication1/Tb_ManageUser.cs
/ConsoleApplication1/Tb_Resource.cs
/ConsoleApplication1/Tb_ResourceType.cs
/ConsoleApplication1/Tb_SoftCourse.cs
/ConsoleApplication1/Tb_SoftList.cs
/ConsoleApplication1/Tb_SoftUser.cs
/ConsoleApplication1/Tb_StuUser.cs
/ConsoleApplication1/Program.cs
/ConsoleApplication1/Tb_ApplySoftList.cs
/ConsoleApplication1/*.cs
/ConsoleApplication1/*.tt
/ConsoleApplication1/*.config
/Models/Models.csproj
Debug
/Models/DbEntities.cs
ClassLibrary1
