USE [master]
GO
/****** Object:  Database [CoursePlatform]    Script Date: 08/26/2015 17:44:52 ******/
CREATE DATABASE [CoursePlatform] ON  PRIMARY 
( NAME = N'CoursePlatform', FILENAME = N'D:\合作项目\CoursePlatForm\database\CoursePlatform.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CoursePlatform_log', FILENAME = N'D:\合作项目\CoursePlatForm\database\CoursePlatform_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoursePlatform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoursePlatform]
GO
/****** Object:  User [zlj]    Script Date: 08/26/2015 17:44:52 ******/
CREATE USER [zlj] FOR LOGIN [zlj] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LZY]    Script Date: 08/26/2015 17:44:52 ******/
CREATE USER [LZY] FOR LOGIN [LZY] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LL]    Script Date: 08/26/2015 17:44:52 ******/
CREATE USER [LL] FOR LOGIN [LL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tb_StuUser]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_StuUser](
	[StuID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[StuName] [varchar](150) NULL,
	[StuAge] [int] NULL,
	[Account] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[CityID] [int] NOT NULL,
	[DetailAddress] [varchar](150) NULL,
	[Birthday] [datetime] NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[IDCard] [varchar](50) NULL,
	[CompanyName] [varchar](150) NULL,
	[PostCode] [varchar](50) NULL,
	[RecordTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Tb_StuUser] PRIMARY KEY CLUSTERED 
(
	[StuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tb_SoftUser]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_SoftUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[UserType] [int] NOT NULL,
 CONSTRAINT [PK_Tb_SoftUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_SoftUser] ON
INSERT [dbo].[Tb_SoftUser] ([UserID], [UserName], [PassWord], [UserType]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Tb_SoftUser] ([UserID], [UserName], [PassWord], [UserType]) VALUES (2, N'1', N'1', 0)
INSERT [dbo].[Tb_SoftUser] ([UserID], [UserName], [PassWord], [UserType]) VALUES (3, N'3', N'3', 0)
SET IDENTITY_INSERT [dbo].[Tb_SoftUser] OFF
/****** Object:  Table [dbo].[Tb_SoftList]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_SoftList](
	[SoftID] [int] IDENTITY(1,1) NOT NULL,
	[SoftName] [varchar](50) NULL,
	[SoftIntro] [text] NULL,
	[SoftType] [varchar](30) NULL,
	[Contest] [varchar](50) NULL,
	[DownLink] [varchar](150) NULL,
 CONSTRAINT [PK_Tb_SoftList] PRIMARY KEY CLUSTERED 
(
	[SoftID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_SoftList] ON
INSERT [dbo].[Tb_SoftList] ([SoftID], [SoftName], [SoftIntro], [SoftType], [Contest], [DownLink]) VALUES (1, N'123D Design', N'简单的三维建模软件，容易上手操作，入门级别的三维建模软件。', N'适合小学使用', NULL, NULL)
INSERT [dbo].[Tb_SoftList] ([SoftID], [SoftName], [SoftIntro], [SoftType], [Contest], [DownLink]) VALUES (2, N'123D Catch', N'三维模型的逆向工程，通过全方位照片生成三维模型，再进行修改和加工。', N'适合小学使用', NULL, NULL)
INSERT [dbo].[Tb_SoftList] ([SoftID], [SoftName], [SoftIntro], [SoftType], [Contest], [DownLink]) VALUES (3, N'Sketchbook', N'是一款新一代的自然画图软件，软件界面新颖动人，功能强大，仿手绘效果逼真，笔刷工具分为铅笔，毛笔，马克笔，制图笔，水彩笔，油画笔，喷枪等，自定义选择式界面方式，人性化功能设计，绝对是创意表达的最佳选择。', N'工业设计，创意设计', N'生活创意设计比赛', NULL)
SET IDENTITY_INSERT [dbo].[Tb_SoftList] OFF
/****** Object:  Table [dbo].[Tb_SoftCourse]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_SoftCourse](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [varchar](50) NULL,
	[SoftPlatform] [varchar](100) NULL,
	[StuNum] [int] NULL,
	[ApplyID] [int] NULL,
 CONSTRAINT [PK_Tb_SoftCourse] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_SoftCourse] ON
INSERT [dbo].[Tb_SoftCourse] ([CourseID], [CourseName], [SoftPlatform], [StuNum], [ApplyID]) VALUES (1, N'fgjfg', N'jfg', 9, 5)
INSERT [dbo].[Tb_SoftCourse] ([CourseID], [CourseName], [SoftPlatform], [StuNum], [ApplyID]) VALUES (2, N'77', N'77', 77, 5)
INSERT [dbo].[Tb_SoftCourse] ([CourseID], [CourseName], [SoftPlatform], [StuNum], [ApplyID]) VALUES (3, N'22', N'2', 2, 6)
SET IDENTITY_INSERT [dbo].[Tb_SoftCourse] OFF
/****** Object:  Table [dbo].[Tb_ManageUser]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_ManageUser](
	[ManageUserID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[DeName] [varchar](150) NULL,
	[Age] [int] NULL,
	[Account] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[CityID] [int] NOT NULL,
	[DetailAddress] [varchar](150) NULL,
	[RecordTime] [datetime] NOT NULL,
	[Birthday] [datetime] NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[IDCard] [varchar](50) NULL,
	[CompanyName] [varchar](150) NULL,
	[PostCode] [varchar](50) NULL,
	[UserType] [int] NOT NULL,
 CONSTRAINT [PK_Tb_User] PRIMARY KEY CLUSTERED 
(
	[ManageUserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程设计者1，教师0，管理员2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tb_ManageUser', @level2type=N'COLUMN',@level2name=N'UserType'
GO
INSERT [dbo].[Tb_ManageUser] ([ManageUserID], [DeName], [Age], [Account], [Password], [CityID], [DetailAddress], [RecordTime], [Birthday], [Email], [Phone], [IDCard], [CompanyName], [PostCode], [UserType]) VALUES (N'8cb08fb6-c5d2-4368-ae90-74be6a7f973e', NULL, NULL, N'1', N'1', 1, NULL, CAST(0x0000A4EB017A5F70 AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, 0)
/****** Object:  Table [dbo].[Tb_FieldTable]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_FieldTable](
	[FieldID] [int] IDENTITY(1,1) NOT NULL,
	[FieldName] [varchar](50) NULL,
	[DisplayName] [varchar](50) NULL,
	[IsUse] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_FieldTable] ON
INSERT [dbo].[Tb_FieldTable] ([FieldID], [FieldName], [DisplayName], [IsUse]) VALUES (1, N'UnitNameCH', N'单位名称', 1)
INSERT [dbo].[Tb_FieldTable] ([FieldID], [FieldName], [DisplayName], [IsUse]) VALUES (2, N'UnitNameEN', N'单位英文名称', 1)
INSERT [dbo].[Tb_FieldTable] ([FieldID], [FieldName], [DisplayName], [IsUse]) VALUES (3, N'ChargePerson', N'单位负责人', 1)
SET IDENTITY_INSERT [dbo].[Tb_FieldTable] OFF
/****** Object:  Table [dbo].[Tb_City]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_City](
	[CityID] [float] NOT NULL,
	[CityName] [nvarchar](255) NULL,
	[ParentID] [float] NULL,
	[CityLevel] [float] NULL,
	[Upid] [nvarchar](255) NULL,
	[ParentPath] [nvarchar](255) NULL,
	[Note] [nvarchar](255) NULL,
	[Area] [float] NULL,
 CONSTRAINT [PK_Tb_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'华东1
华南2
西南3
华北4
华中5东北6西北7海外0其他0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tb_City', @level2type=N'COLUMN',@level2name=N'Area'
GO
INSERT [dbo].[Tb_City] ([CityID], [CityName], [ParentID], [CityLevel], [Upid], [ParentPath], [Note], [Area]) VALUES (1, N'北京市', 0, 1, NULL, N'0', NULL, 4)
INSERT [dbo].[Tb_City] ([CityID], [CityName], [ParentID], [CityLevel], [Upid], [ParentPath], [Note], [Area]) VALUES (2, N'天津市', 0, 1, NULL, N'0', NULL, 4)
INSERT [dbo].[Tb_City] ([CityID], [CityName], [ParentID], [CityLevel], [Upid], [ParentPath], [Note], [Area]) VALUES (3, N'河北省', 0, 1, NULL, N'0', NULL, 4)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Tb_ApplyTable]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_ApplyTable](
	[ApplyID] [int] IDENTITY(1,1) NOT NULL,
	[UnitNameCH] [varchar](50) NULL,
	[UnitNameEN] [varchar](50) NULL,
	[ChargePerson] [varchar](30) NULL,
	[ContactPerson] [varchar](30) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[UnitAddress] [varchar](100) NULL,
	[ZipCode] [varchar](50) NULL,
	[UnitIntro] [text] NULL,
	[TeacherNum] [varchar](50) NULL,
	[StuNum] [varchar](50) NULL,
	[Gradu2015Num] [varchar](50) NULL,
	[SeniorTitleNum] [varchar](50) NULL,
	[IntermediateTitleNum] [varchar](50) NULL,
	[OtherTitleNum] [varchar](50) NULL,
	[TechTeacherNum] [varchar](50) NULL,
	[AuthTechTeacherNum] [varchar](50) NULL,
	[EngineRoomArea] [varchar](50) NULL,
	[ComputerNumConfig] [varchar](100) NULL,
	[RecordTime] [date] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsPass] [int] NOT NULL,
	[input1] [varchar](50) NULL,
	[input2] [varchar](50) NULL,
	[input3] [varchar](50) NULL,
	[input4] [varchar](50) NULL,
	[input5] [varchar](50) NULL,
	[input6] [varchar](50) NULL,
	[input7] [varchar](50) NULL,
	[input8] [varchar](50) NULL,
	[input9] [varchar](50) NULL,
	[input10] [varchar](50) NULL,
	[input11] [varchar](50) NULL,
	[input12] [varchar](50) NULL,
	[input13] [varchar](50) NULL,
	[input14] [varchar](50) NULL,
	[input15] [varchar](50) NULL,
	[input16] [varchar](50) NULL,
	[input17] [varchar](50) NULL,
	[input18] [varchar](50) NULL,
	[input19] [varchar](50) NULL,
	[input20] [varchar](50) NULL,
	[input21] [varchar](50) NULL,
	[input22] [varchar](50) NULL,
	[input23] [varchar](50) NULL,
	[input24] [varchar](50) NULL,
	[input25] [varchar](50) NULL,
	[input26] [text] NULL,
	[input27] [text] NULL,
	[input28] [text] NULL,
	[input29] [text] NULL,
	[input30] [text] NULL,
	[input31] [text] NULL,
 CONSTRAINT [PK_ApplyTable] PRIMARY KEY CLUSTERED 
(
	[ApplyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_ApplyTable] ON
SET IDENTITY_INSERT [dbo].[Tb_ApplyTable] OFF
/****** Object:  Table [dbo].[Tb_ApplySoftList]    Script Date: 08/26/2015 17:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_ApplySoftList](
	[ApplySoftID] [int] IDENTITY(1,1) NOT NULL,
	[SoftCourseName] [varchar](100) NULL,
	[TrainNumPerYear] [int] NULL,
	[ApplyNum] [int] NULL,
	[ApplyID] [int] NULL,
	[SoftID] [int] NULL,
 CONSTRAINT [PK_Tb_ApplySoftList] PRIMARY KEY CLUSTERED 
(
	[ApplySoftID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_ApplySoftList] ON
INSERT [dbo].[Tb_ApplySoftList] ([ApplySoftID], [SoftCourseName], [TrainNumPerYear], [ApplyNum], [ApplyID], [SoftID]) VALUES (5, N'fdsafasd', 121, 321, 3, 2)
INSERT [dbo].[Tb_ApplySoftList] ([ApplySoftID], [SoftCourseName], [TrainNumPerYear], [ApplyNum], [ApplyID], [SoftID]) VALUES (6, N'fdsafasd', 321, 321, 3, 3)
INSERT [dbo].[Tb_ApplySoftList] ([ApplySoftID], [SoftCourseName], [TrainNumPerYear], [ApplyNum], [ApplyID], [SoftID]) VALUES (7, N'fd', 12, 2, 4, 1)
SET IDENTITY_INSERT [dbo].[Tb_ApplySoftList] OFF
/****** Object:  Default [DF_Tb_StuUser_StuID]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_StuUser] ADD  CONSTRAINT [DF_Tb_StuUser_StuID]  DEFAULT (newid()) FOR [StuID]
GO
/****** Object:  Default [DF_Tb_StuUser_RecordTime]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_StuUser] ADD  CONSTRAINT [DF_Tb_StuUser_RecordTime]  DEFAULT (getdate()) FOR [RecordTime]
GO
/****** Object:  Default [DF_Tb_SoftUser_UserType]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_SoftUser] ADD  CONSTRAINT [DF_Tb_SoftUser_UserType]  DEFAULT ((0)) FOR [UserType]
GO
/****** Object:  Default [DF_Tb_Designer_DesignerID]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_ManageUser] ADD  CONSTRAINT [DF_Tb_Designer_DesignerID]  DEFAULT (newid()) FOR [ManageUserID]
GO
/****** Object:  Default [DF_Tb_User_RecordTime]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_ManageUser] ADD  CONSTRAINT [DF_Tb_User_RecordTime]  DEFAULT (getdate()) FOR [RecordTime]
GO
/****** Object:  Default [DF_Tb_User_UserType]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_ManageUser] ADD  CONSTRAINT [DF_Tb_User_UserType]  DEFAULT ((0)) FOR [UserType]
GO
/****** Object:  Default [DF_Table_1_IsUse]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_FieldTable] ADD  CONSTRAINT [DF_Table_1_IsUse]  DEFAULT ((0)) FOR [IsUse]
GO
/****** Object:  Default [DF_Tb_ApplyTable_IsPass]    Script Date: 08/26/2015 17:44:52 ******/
ALTER TABLE [dbo].[Tb_ApplyTable] ADD  CONSTRAINT [DF_Tb_ApplyTable_IsPass]  DEFAULT ((0)) FOR [IsPass]
GO
