@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SoftDownAdmin_Layout.cshtml";
}

<h2>Index</h2>
@section booterScript{

    <script src="~/Content/vendors/jquery-1.9.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/DT_bootstrap.js"></script>
    <script src="~/Content/assets/scripts.js"></script>

}
