<script src="~/Scripts/flexpaper_flash.js"></script>

<div >
	        <a id="viewerPlaceHolder" style="width:660px;height:480px;display:block"></a>
	        
	        <script type="text/javascript">
	            var fp = new FlexPaperViewer(
						 'FlexPaper/FlexPaperViewer',
						 'viewerPlaceHolder', { config: {
						     SwfFile: escape(@ViewBag.swfurl),
						     Scale: 1.0,
						     ZoomTransition: 'easeOut',
						     ZoomTime: 0.5,
						     ZoomInterval: 0.2,
						     FitPageOnLoad: true,
						     FitWidthOnLoad: false,
						     PrintEnabled: true,
						     FullScreenAsMaxWindow: false,
						     ProgressiveLoading: false,
						     MinZoomSize: 0.2,
						     MaxZoomSize: 5,
						     SearchMatchAll: false,
						     InitViewMode: 'Portrait',

						     ViewModeToolsVisible: true,
						     ZoomToolsVisible: true,
						     NavToolsVisible: true,
						     CursorToolsVisible: true,
						     SearchToolsVisible: true,

						     localeChain: 'en_US'
						 }
						 });
	        </script>
        </div>