.multi-content{
  padding:20px 45px;
}


.block {
  border: 1px solid #ccc;
  background: white;
  margin: 1em 0em;
  border-top: none;
}

.block-content {
  margin: 1em;
  min-height: .25em;
}

.block-header {
  margin-bottom: 0px;
  border-right: none;
  border-left: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.block-header div {
  padding-top: 10px;
}

.easyPieChart {
  margin: 0px auto;
}

.chart-bottom-heading {
  margin-top: 5px;
  text-align: center;
}
.muted {
  color: #fff;
  font-weight: 600;
}