<?xml version="1.0" encoding="utf-8"?>
<siteconfig>
  <!--版权所有,不支持html语法-->
  <copyRight>
  </copyRight>
  <!--邮件服务器地址-->
  <smtpserver>smtp.163.com</smtpserver>
  <!--邮箱用户名-->
  <emailuserName>ftyggg@163.com</emailuserName>
  <!--邮箱密码-->
  <emailuserpwd>ftyfty</emailuserpwd>
  <!--邮箱地址-->
  <emailfrom>ftyggg@163.com</emailfrom>
</siteconfig>