ul li{ list-style: none;}
.chatroom{
    background-color:#eee ;
    width: 100%;
    height: 100%;
}
.chatroom .chat{
    height: 100%;
    margin: 0;padding: .5em 1em;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select:none;
    -webkit-overflow-scrolling: touch;
}
.chatroom .chat img {max-width: 100%;}
.chatroom .chat li{
    position: relative;
    margin: 1em 0;
}
.chatroom .chat li:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.chatroom .chat li{*+height:1%;}
.chatroom .chat li .face{
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 1em;
    border: 1px solid rgba(0, 0, 0, 0.31);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.chatroom .chat li .say{
    float: left;
    width: auto;
    max-width: 400px;
    min-height: 40px;
    height: 100%;
    font-size: 14px;
    background-color: #ADDC4B;
    padding: 1px;
    border-radius: .7em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #86AD5A;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.43);
}
.chatroom .chat li .text{
    font-size: "Helvetica Neue", Helvetica, 'Microsoft Yahei', tahoma,Georgia, Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.17);
    color: #333;
    position: relative;
    border-radius: .7em;
    display: block;
    padding:.8em .5em .5em;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.59);
    line-height: 1.3;
}
.chatroom .chat li .text:after,
.chatroom .chat li .text:before{
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 14px;
}

.chatroom .chat li .text:after{
    right: 100%;
    border-color: rgba(248, 248, 248, 0);
    border-right-color: #ADDC4B;
    border-width: 8px;
    margin-top: -6px;
}
.chatroom .chat li .text:before {
    right: 100.2%;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(145, 180, 105, 0.82);
    border-width: 10px;
    margin-top: -8px;
}
.chatroom .chat li.teacher .face{
    float: right;
    margin-left: 1em;
    margin-right: 0;
}
.chatroom .chat li.teacher .say{
    float: right;
    background-color: rgb(230,230,230);
    border: 1px solid rgb(186,186,186);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.chatroom .chat li.teacher .text:after,
.chatroom .chat li.teacher .text:before{
    right: auto;
    top: 16px;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: 1px;
}
.chatroom .chat li.teacher .text:after{
    left: 100.1%;
    border-color: rgba(248, 248, 248, 0);
    border-left-color:#E6E6E6;
    border-width: 8px;
    margin-top: -6px;
}
.chatroom .chat li.teacher .text:before{
    left: 100.3%;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(189, 189, 189, 0.7);
    border-width: 10px;
    margin-top: -8px;
}
@media screen and (max-width: 320px) {
    .chatroom .chat li .say {
        width: 200px;
    }
}